<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Some Website </title>
  </head>
  <body>
    <h1>we will be right back</h1>
    <p>
        this site is currently being updated;
    </p>
  </body>
</html>
